{% extends "base.html" %}

{% block title %}Добавить ответ{% endblock title %}

{% block content %}
<div class="container">
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {% if not user.is_authenticated %}
      <p><label for="id_author">Автор:</label> <input class="form-control" type="text" name="author" maxlength="60" required id="id_author"></p>
      {% endif %}
      <p><label for="id_body">Ответ:</label> <textarea class="form-control" name="body" cols="40" rows="10" required id="id_body">
      </textarea></p>
      <button type="submit" name="button">Готово</button>
    </form>
</div>
{% endblock %}
