* {
	margin: 0;
}

a {
	text-decoration: none;
}


/* header */

.header {
	height: 70px;
	display: flex;

}

.header-inner {
	display: flex;
	position: relative;
	justify-content: space-between;
}

/* nav */
.nav a {
	padding-left: 20px;
}

/* container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.container-1 {
	display: flex;
	flex-wrap: wrap;
}

.container-1 div {
	padding: 10px;
}


/* Box */
.box {
	flex-basis: 30%;
}


/* detail */
.detail {
	max-width: 100%;
}

.detail-image {
}


/* question */
.question {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
}
.question-content-box {
	padding: 10px;
	border: 2px solid silver;
}

.question-content {
	padding-left: 100px;
}
.question-author {
	padding-left: 20px;
	position: absolute;
}

.question-items {
	display: flex;
	padding-left: 100px;
	justify-content: space-between;
}



.question-other {
	padding-left: 100px;
}
.question-author-avatar {
	padding-top: 25px;
	position: absolute;
}
