{% extends "base.html" %}

{% load static %}

{% block title %}{{ question.name }}{% endblock title %}

{% block content %}
<div class="container">
  <div class="mt-4 card">
    <div class="card-body">
      <h5 class="card-title">{{question.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{question.author}}, {{ question.created }}</h6>
      <p class="card-text">{{question.body}}</p>
      <div class="d-flex justify-content-between">
        <div class="">
          {% if user.is_authenticated and user.name == question.author %}
          <a href="{% url 'update_question' question.id %}" class="card-link">Править</a>
          <a href="{% url 'delete_question' question.id %}" class="card-link">Удалить</a>
          {% endif %}
          <a href="{% url 'create_answer' question.id %}" class="card-link">Ответить</a>
        </div>

        </div>
      </div>
    </div>
  </div>

    {% for answer in question.answers.all %}
    <div class="container">
    <div class="ml-4 mt-4 ">
      <div class="mb-0 card-body">
        <h6 class="card-subtitle mb-2 text-muted">{{ answer.create_on }}</h6>
        <h5 class="card-title">{{ answer.author }}</h5>
        <p class="mb-0 pb-0 card-text">{{ answer.body }}</p>
        <img src="{% if answer.image %}{{answer.image.url}}{% endif %}" width="500" alt="">
          <hr>
      </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
