{% extends "base.html" %}
{% load static %}

{% block content %}
{% for q in Questions_list %}
<div class="question">
    <div class="question-content-box">
        <div class="question-author">
            <h5>{{q.author}}</h5>

        </div>
        <div class="question-author-avatar">
            <img src="{% static 'ava.jpg' %}" width="90" alt="">

        </div>
        <div class="question-content">
            <div class="question-name">
                <a href="{{ q.get_absolute_url }}"><h1>{{q.name}}</h1></a>

            </div>
            <h6>Опубликован{{q.time_since_publication}} назад</h6>
            <h5>{{q.body}}</h5>
        </div>
        <div class="question-other">

        <p>
        <h6>{{q.likes}} лайков</h6>
        <a href="#">Like</a>
        </p>
        <h5>{{q.views}}</h5>
        </div>
        <div class="question-items">
            <div class="question-tags">
            {% for tag in q.tags.all %}
                <a name="tag" href="{{ tag.get_absolut_url }}">{{tag}}</a>
            {% endfor %}
            </div>
            <div class="question-add">
                <a href="{% url 'new_question' %}">new</a>
            </div>
        </div>

    </div>
</div>
{% endfor %}
{% endblock content %}
