{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Hello Django</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  <div class="collapse navbar-collapse">
    <ul class="nav justify-content-end">
      <li class="nav-item"><a class="nav-link" href="{% url 'home' %}" >Блог</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'forum' %}" >Форум</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'books' %}" >Книги</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'contacts' %}" >Контакты</a></li>
      {% if user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}" >Выйти</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'login' %}" >Войти</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}" >Регистрация</a></li>
      {% endif %}
    </ul>
  </div>
      <div class="d-flex justify-content-end">

    <form action="{% url 'search' %}" class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Поиск" name="q">
      <button class="btn btn-primary" type="submit">Поиск</button>
    </form>
    </div>
</nav>

<div class="container">

      <div class="intro">
          <div class="row">

        {% block content %}
        {% endblock %}
    </div>
  </div>
</div>
    </body>
    <footer>
      <!-- Compiled and minified JavaScript -->
      <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>

    </footer>
</html>
